rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isRealUser() {
      return request.auth != null
        && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }

    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /events/{eventId} {
      allow read: if true;
      allow create: if isRealUser();
      allow update, delete: if isRealUser() && request.auth.uid == resource.data.createdBy;

      match /tables/{tableId} {
        allow read: if true;
        allow create, update, delete: if isRealUser();

        match /rounds/{roundId} {
          allow read: if true;
          allow create, update, delete: if isRealUser();

          match /games/{gameId} {
            allow read: if true;
            allow create, update, delete: if isRealUser();
          }
        }
      }
    }

    match /playerMemberships/{docId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
      allow create: if isRealUser();
      allow delete: if isRealUser();
    }

    match /history/{recordId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
      allow create: if isRealUser() && request.auth.uid == request.resource.data.uid;
      allow delete: if isRealUser();
    }
  }
}
